.container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    margin: auto;

    width: 700px;

    justify-content: center;
}

p {
    position: relative;
    top: 50px;

    text-align: center;

    font-size: 32px;
    font-weight: bold;

    color: var(--secondColor);
}

#name {
    color: var(--firstColor);
}

#degree {
    color: var(--firstColor);
}

img {
    width: 700px;
}

@media  screen and (max-width: 700px) {
    .container {
        width: 500px;
    }
    img {
        width: 500px;
    }

    p {
        font-size: 24px;
    }
}